<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated graphdelta -->
      <package
            uri="http://st.tud.de/graphdelta"
            class="graphdelta.GraphdeltaPackage"
            genModel="model/graphdelta.genmodel"/>
   </extension>

</plugin>
